import kotlinx.serialization.SerialName

/**
 * {{{description}}}
{{#vars}}
 * @param {{name}} {{{description}}}
{{/vars}}
 */
@Serializable
{{>classes_modifiers}}data class {{classname}} (
{{#allVars}}
{{#required}}{{#optional}}{{>data_class_opt_var}}{{/optional}}{{^optional}}{{>data_class_req_var}}{{/optional}}{{/required}}{{^required}}{{#isNullable}}{{>data_class_non_req_null_var}}{{/isNullable}}{{^isNullable}}{{>data_class_non_req_non_null_var}}{{/isNullable}}{{/required}}{{^-last}},{{/-last}}
{{/allVars}}

) {
{{#hasEnums}}{{#vars}}{{#isEnum}}
    /**
    * {{{description}}}
    * Values: {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
    */
    @Serializable
    enum class {{nameInCamelCase}} {
    {{#allowableValues}}{{#enumVars}}
        @SerialName({{^isString}}"{{/isString}}{{{value}}}{{^isString}}"{{/isString}})
        {{name}}{{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/enumVars}}{{/allowableValues}}
    }
{{/isEnum}}{{/vars}}{{/hasEnums}}
}
