{{#description}}
    /* {{{description}}} */
{{/description}}
    {{#isDecimal}}@Serializable(with = BigNumSerializer::class) {{/isDecimal}}
    @SerialName("{{{baseName}}}")
    val {{{name}}}: {{#isEnum}}{{#isArray}}kotlin.collections.List<{{classname}}.{{{nameInCamelCase}}}{{#isEnumFallbackNull}}?{{/isEnumFallbackNull}}>{{/isArray}}{{^isArray}}{{classname}}.{{nameInCamelCase}}{{#isEnumFallbackNull}}?{{/isEnumFallbackNull}}{{/isArray}}{{^isEnumFallbackNull}}{{#isNullable}}?{{/isNullable}}{{/isEnumFallbackNull}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{#isNullable}}?{{/isNullable}}{{/isEnum}}