{{#description}}
    /* {{{description}}} */
{{/description}}
    {{#isDecimal}}@Serializable(with = BigNumSerializer::class) {{/isDecimal}}
    @SerialName("{{{baseName}}}")
    val {{{name}}}: {{#isEnum}}{{#isArray}}kotlin.collections.List<{{#isEnumFallbackNull}}Safeable<{{/isEnumFallbackNull}}{{classname}}.{{{nameInCamelCase}}}{{#isEnumFallbackNull}}>{{/isEnumFallbackNull}}>{{/isArray}}{{^isArray}}{{#isEnumFallbackNull}}Safeable<{{/isEnumFallbackNull}}{{classname}}.{{nameInCamelCase}}{{#isEnumFallbackNull}}>{{/isEnumFallbackNull}}{{/isArray}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}{{#defaultValue}} = {{{defaultValue}}}{{#isEnum}}{{#isEnumFallbackNull}}.asSafeable(){{/isEnumFallbackNull}}{{/isEnum}}{{/defaultValue}}{{^defaultValue}}? = null{{/defaultValue}}