{{#description}}
    /* {{{description}}} */
{{/description}}
    @SerialName("{{{baseName}}}")
    val {{{name}}}: {{#isEnum}}{{#isArray}}kotlin.collections.List<{{classname}}.{{{nameInCamelCase}}}>{{/isArray}}{{^isArray}}{{classname}}.{{nameInCamelCase}}{{/isArray}}{{/isEnum}}{{^isEnum}}{{{datatype}}} = {{defaultValue}}{{/isEnum}}