{{#description}}
    /* {{{description}}} */
{{/description}}
    @SerialName("{{{baseName}}}")
    val {{{name}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{#isNullable}}?{{/isNullable}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{#isNullable}}?{{/isNullable}}{{/isEnum}}