{{>licenseInfo}}
package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}
import kotlinx.serialization.Serializable

{{#models}}
{{#model}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}
{{#isAlias}}typealias {{classname}} = {{dataType}}{{/isAlias}}
{{#allOf}}{{>data_class_allof}}{{/allOf}}

{{^isEnum}}{{^isAlias}}{{^allOf}}{{>data_class}}{{/allOf}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
