{{>licenseInfo}}
package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}
import kotlinx.serialization.Serializable

{{#models}}
{{#model}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}
{{#isAlias}}typealias {{classname}} = {{dataType}}{{/isAlias}}
{{#vendorExtensions.x-allOfGeneration}}{{>data_class_allof}}{{/vendorExtensions.x-allOfGeneration}}
{{#vendorExtensions.x-anyOfGeneration}}{{>data_class_anyof}}{{/vendorExtensions.x-anyOfGeneration}}

{{^isEnum}}{{^isAlias}}{{^vendorExtensions.x-allOfGeneration}}{{^vendorExtensions.x-anyOfGeneration}}{{>data_class}}{{/vendorExtensions.x-anyOfGeneration}}{{/vendorExtensions.x-allOfGeneration}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
