{{#isMap}}
{{#additionalProperties}}{{>property_serializer}}{{/additionalProperties}}.let {
    MapSerializer(keySerializer = String.serializer(), valueSerializer = it)
}
{{/isMap}}
{{#isArray}}
    {{#items}}{{>property_serializer}}{{/items}}.let {
        {{#uniqueItems}}SetSerializer(it){{/uniqueItems}}
        {{^uniqueItems}}ListSerializer(it){{/uniqueItems}}
    }
{{/isArray}}
{{^containerType}}
{{dataType}}.serializer()
{{/containerType}}