import kotlinx.serialization.SerialName

/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
*/
@Serializable
{{#nonPublicApi}}internal {{/nonPublicApi}}enum class {{classname}}(override val serialName: String? = null): SerialEnum {
{{#allowableValues}}{{#enumVars}}
    @SerialName({{^isString}}"{{/isString}}{{{value}}}{{^isString}}"{{/isString}})
    {{name}}{{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}{{/allowableValues}}
}
