import kotlinx.serialization.SerialName
import dev.icerock.moko.network.serializer.SerialEnum
import dev.icerock.moko.network.serializer.serial

/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
*/
@Serializable
internal enum class {{classname}}(override val serialName: String? = null): SerialEnum {
{{#allowableValues}}{{#enumVars}}
    @SerialName({{^isString}}"{{/isString}}{{{value}}}{{^isString}}"{{/isString}})
    {{name}}{{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}{{/allowableValues}}
}
