name: KMP library publish

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Publish plugin
        run: ./gradlew -p network-generator publishNoValidationToBintray
      - name: Publish runtime
        env:
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
        run: ./gradlew publishNoValidationToBintray
